body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    background-image: url('moon-2048727_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.photo.active {
    opacity: 1;
    transform: translateY(0);
}
.orange{
    background-color: rgb(255, 153, 51);
    font-family: 'Courier New', Courier, monospace;
}
.white{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
.green{
    background-color: #138808;
}



/* Header with parallax scrolling effect */
header {
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #333;
}

/* Gallery items with fade-in effect */
.photo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin: 20px;
    background-color: rgb(126, 126, 126);
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out; /* Add transition for background color change */
}



.photo.active {
    opacity: 1;
    transform: translateY(0);
}


.photo-grid {
    display: grid;

    gap: 20px;
}

.photo {
    position: relative;
    overflow: hidden;
    margin-top: 70px;
    
}


.photo img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
    
}

.photo:hover img {
    transform: scale(1.1);
}

.photo:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    
}

.caption1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    

}

.caption2 {
    text-align: center;
    margin-top: 30px;
}

.caption3 {
    text-align: center;
    margin-top: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}